server {
    listen 80;
    listen [::]:80;
    server_name _;

    root ${NGINX_WEB_ROOT};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name _;

    root ${NGINX_WEB_ROOT};
    index index.html;

    ssl_certificate ${NGINX_SSL_CERTIFICATE};
    ssl_certificate_key ${NGINX_SSL_CERTIFICATE_KEY};
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_session_tickets off;

    location / {
        try_files $uri $uri/ =404;
    }
}
